<!DOCTYPE html>
<html>
<head>
    <title>Login to Facebook</title>
    <meta charset="UTF-8">

    <link href="/css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="/css/rift.css" rel="stylesheet">
</head>
<body>

<!--
  Below we include the Login Button social plugin. This button uses
  the JavaScript SDK to present a graphical Login button that triggers
  the FB.login() function when clicked.
-->

<div>
    <h3>Login successful!</h3>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="/js/lib/bootstrap.min.js"></script>
</body>
</html>